:root {
    --MHP-green: #ccf381;
    --MHP-orange: #f2a252;
    --MHP-purple: #4831df;
    --MHP-dark-purple: #143151;
    --MHP-black: #000000;
    --MHP-white: #ffffff;
}

/* MHP background colour */
.MHP-bg {
    background-color: var(--MHP-black);
}

/* MHP footer styles for each page */
.MHP-footer {
    text-align: center;
    color: var(--MHP-white);
}

.MHP-footer a {
    color: var(--MHP-green)
}

.MHP-footer h4 {
    text-align: left;
    text-transform: uppercase;
}

.MHP-footer p {
    text-align: left;
}